
$baseHue: 92;
$baseSaturation: 24;
$baseLightness: 90;
$bodyBgColor: hsl($baseHue, $baseSaturation + 12, $baseLightness - 2);
$navBgColor: hsl($baseHue, $baseSaturation + 33, $baseLightness - 14);
$gameBgColor: hsl($baseHue, $baseSaturation + 33, $baseLightness - 14);
$gameBorderColor: hsl($baseHue, $baseSaturation + 33, $baseLightness - 42);
$linkButtonBgColor: hsl($baseHue, $baseSaturation + 53, $baseLightness - 48);
$linkButtonHoverBgColor: hsl($baseHue, $baseSaturation + 58, $baseLightness - 43);
$linkButtonBorderColor: hsl($baseHue, $baseSaturation + 20, $baseLightness - 20);
$linkButtonTextShadow: hsl($baseHue, $baseSaturation + 56, $baseLightness - 80);
$linkButtonTextColor: hsl($baseHue, $baseSaturation + 53, $baseLightness + 5);
$textColor: hsl($baseHue, $baseSaturation + 56, $baseLightness - 80);
$linkTextColor: hsl($baseHue, $baseSaturation + 53, $baseLightness - 48);