@import '../../../variables';

:host {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 25px 20px 20px 20px 20px 20px;
  grid-template-areas: "preview name name" "preview description description" "preview description description" "preview link5 link4" "preview link3 link2" "preview link1 link0";
  justify-content: stretch;
  align-content: stretch;
  width: 460px;
  height: 150px;
  grid-gap: 5px;
  background-color: $gameBgColor;
  padding: 10px;
  margin: 5px;
  box-shadow: 2px 2px 6px $gameBorderColor;
  border-radius: 8px;
}

@media (max-width: 550px) {
  :host {
    grid-template-columns: auto 150px auto;
    grid-template-rows: 150px 25px 40px 20px 20px 20px 20px 20px 20px;
    grid-template-areas:
        ". preview ."
        "name name name"
        "description description description"
        ". link5 ."
        ". link4 ."
        ". link3 ."
        ". link2 ."
        ". link1 ."
        ". link0 .";
    width: 85vw;
    height: 375px;
    padding: 10px 10px;
    margin: 5px 0;
  }
}

.preview {
  grid-area: preview;
  border-radius: 25px 45px 0 35px;
}

.name {
  grid-area: name;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.description {
  grid-area: description;
  font-size: 14px;
}

.link {
  display: block;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  background-color: $linkBgColor;
  color: white;
  text-shadow: 2px 2px 2px black;
  border-radius: 0 16px 0 10px;
  text-decoration: none;
  font-size: 14px;
  box-shadow: 1px 1px 0 $linkBorderColor;
}

.link:hover {
  background-color: $linkHoverBgColor;
  box-shadow: 1px 1px 1px $linkBgColor;
}

.link0 {
  grid-area: link0;
}

.link1 {
  grid-area: link1;
}

.link2 {
  grid-area: link2;
}

.link3 {
  grid-area: link3;
}

.link4 {
  grid-area: link4;
}

.link5 {
  grid-area: link5;
}