:host {
  display: grid;
  grid-template-columns: 200px auto 100px 100px;
  grid-template-areas: ". logo privacypolicy impressum";
  justify-content: stretch;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

@media (max-width: 600px) {
  :host {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "logo" "privacypolicy" "impressum";
  }
}

.logo {
  grid-area: logo;
  text-align: center;
}

.impressum {
  grid-area: impressum;
}

.privacyPolicy {
  grid-area: privacypolicy;
}

.impressum, .privacyPolicy {
  text-align: right;
  color: grey;
  text-decoration: none;
  font-size: 14px;
}